extends ../layouts/main.pug
block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th Title
            th Author
            th In My Library
            th Actions
        
        tbody
          each book in books
            tr
              td
                a(href=`/books/${book.id}`)= book.title
              td
                a(href=`/books/${book.id}`)= book.author
              td= book.status
              td
                a(href=`/books/${book.id}/edit`) edit 
                = " | "
                form.destroy(action="/books/destroy", method="POST", onsubmit='return confirm("Are you sure you wanna delete this book?");')
                  input(type="hidden", name="id", value=book.id)
                  input(type="submit", value="delete")
